<mat-toolbar color="primary" style="position:sticky; top:0; z-index:999;">
    <mat-toolbar-row>
      <span>TUES DAY</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
  
  
<mat-sidenav-container class="example-container">
    <mat-sidenav position="start" mode="over" opened style="background:slateblue">
      Sidenav content
    </mat-sidenav>
    <mat-sidenav-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, vel!
    </mat-sidenav-content>
</mat-sidenav-container>
