<mat-toolbar color="primary" style="position:sticky;top:0;">My App</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav [fixedInViewport]="fxvp" #snav mode="side" class="textify" style="width:200px;padding:4px;text-align:justify;font-size: xx-large;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, in.
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutAlign="center center" style="height:100%;background: royalblue;" class="textify">
        <button mat-button  (click)="snav.toggle();" style="font-size: xx-large;padding: 20px;"> Toggle Side Nav</button>
        <button mat-button (click)="fxvp = !fxvp" style="font-size: xx-large;padding: 20px;"> SIDE NAV VIEW PORT [{{fxvp || false}}]</button>
    </mat-sidenav-content>
</mat-sidenav-container>
