<mat-toolbar color="primary" class="mat-elevation-z4" style="z-index:9999">

  <mat-toolbar-row>
    <mat-icon class="example-icon">menu</mat-icon>
    <span> Stack World </span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex.xs="100" fxFlex.sm="90" fxFlex.md="75" fxFlex="60" fxLayout="row" fxLayoutAlign="center center" class="textify">
      Hello World
  </div>
</div>