/*
style="position: sticky;background: tomato;height: 65px;"
*/
.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textify{
    color:white;
    font-size: xx-large;
}
.sticky-top{
    position: sticky;
    background: tomato;
    height: 65px;
}

