<mat-toolbar color="primary" style="position:sticky; top:0; z-index:999;">
  <mat-toolbar-row>
    <span>TUES DAY</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="50" fxLayout="column"> 

    <div *ngFor="let item of list" class="textify make-center">
      {{item}}
    </div>

  </div>
</div>